#tron{
    background-image: url('../assets/bcg.jpg');
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Notable', sans-serif;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.image1{
    position: absolute;
    width: 80%;
    top: 18%;
    right: 0%;
}
#para1{
    font-family: 'Permanent Marker', cursive;
    margin-top: 6%;
}
#btn{
    width: 10%;
    height: 7%;
    position: absolute;
    top: 90%;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
}
#section2{
    background-image: url('../assets/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 100%;
    /* border: solid; */

    margin: 0 auto;
}
.inner-sec{
    margin-top: 05px;
    width: 50%;
}
fieldset{
    border: solid 2px;
    border-bottom: none;
    margin-left: 50px;
}
form{
    margin:10px 40px;
}
input{
    border: solid black 1px !important;
    background: 0 !important;
    color: black !important;
    font-weight: bold !important;
}
#person{
    justify-content: space-between;
    width: 80%;     
    margin-left: 05px;
}
.addr{
    display: none;
}
#address{
    justify-content: space-around;
}
#sub{
    float: right;
    background-color: #6f6464;
    border: none;
    margin-left: 10px;
    margin-top: 15px;
}
#addorder{
    float: right;
    background-color: #6f6464;
    border: none;
    margin-top: 15px;
}